{% extends 'registration/home.html'%}
{% load static%}

{% include "registration/navbar.html" %}

{% block content %}
<center>
    <h1>All Voters</h1>
</center>

    {% for voter in voters %}
    <div class="loopy">
        <ul>
            <li>
                <a class="text-dark" href="{% url 'voter_details' voter.id %}" style="text-decoration:none" >{{voter.first_name}} {{voter.last_name}}</a>
            </li>
        </ul>
    </div>
    

    {% endfor %}


{% endblock %}

{% include "registration/footer.html" %} 

<h1>All Voters</h1>

{% for voter in voters %}

<ul>
    <li>
        <a href="{% url 'voter_details' voter.id %}">{{voter.first_name}} {{voter.last_name}}</a>
    </li>
</ul>


{% endfor %}


