{% load static %}
<!--The footer-->
<footer class =" giver">
    <div class="row">
        <div class="col">
                <h5>Do you know!!</h5>
            <ul class="nav flex column">
                <li class="nav-item mb-2">
                    It's time for the blind to independently vote with confidence!
                </li>
                <li class="nav-item mb-2">
                    @Copyright. All rights reserved
                </li>
            </ul>   
        </div>
        <div class="col ">
            <h5>Links</h5>
            <ul class="nav flex column">
                <li class="nav-item mb-2">
                    <a href="{% url 'home'%}" class="text-decoration-none text-light">Home</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="" class="text-decoration-none text-light">Forms</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'exit'%}" class="text-decoration-none text-light">Exit</a>
                </li>
            </ul>
        </div>
        <div class="col text-center">
            <h5>Guides</h5>
            <ul class="nav flex column">
                <li class="nav-item mb-2">Getting Started</li>
                <li class="nav-item mb-2">Need Help</li>
                <li class="nav-item mb-2">Updates</li>
            </ul>
        </div>
        <div class="col text-center">
            <h5>Community</h5>
            <ul class="nav flex column">
                <li class="nav-item mb-2">Issues</li>
                <li class="nav-item mb-2">Discussions</li>
                <li class="nav-item mb-2">Complaints</li>
                <li class="nav-item mb-2">Suggestions</li>
            </ul>
        </div>
        <div class="col ">
            <h5>VAP Voting App for the Blind</h5>
            <i class="fa-brands fa-square-x-twitter mb-7" style="font-size: 18px;"></i>
            <i class="fa-brands fa-facebook mb-7" style="font-size: 18px; "></i>
            <i class="fa-brands fa-square-instagram mb-7" style="font-size: 18px;"></i>
        </div>
    </div>
</footer> 