{% extends 'verification/lang.html'%}
{% load static%}

{% include "verification/navbar.html" %}

{% block content %}
    <center>
        <div id="recordingStatus"> 
            <h1>kozessa amapeesa okulondako ekifo</h1>
        </div>
        <audio id="audioPlayer" method ="POST" controls>
          <source src="" type="audio/wav">
      </audio>
        
    </center>
    
    <script>   
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        // Play the "posteng_choice" file after 3000 milliseconds
        setTimeout(function() {
          audioPlayer.src = "{% static "audios/postlug_choice.wav" %}";
          audioPlayer.play();
        }, 1000); 
        
        document.addEventListener('keydown', function(event) {
            const key = event.key;
            if (key === '1' || key === '2' || key === '3') {
                // Send AJAX request to handle post selection
                var formData = new FormData();
                formData.append('key_pressed', key);
                fetch('/postlug_choice_keypad', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.status === 'success') {
                        // Redirect to english vote website after 3000 milliseconds
                        setTimeout(function() {
                            window.location.href= data.url;
                        }, 3000);   
                        //window.location.href = "{% url 'scanner' %}"; 
                    }else{
                        console.log("Stuff ain't working")
                    }
                })
                .catch(error => {
                    // Log any errors to the console
                    console.error('Error:', error);
                });
            }
        });
       
    </script>

{% endblock %} 

{% include "verification/footer.html" %}

